/** sprite: button-sprite; sprite-image: url(../icons/button-sprite.png); sprite-layout: vertical; sprite-image-uid: date; */

/*
 * Button icons
 */
.button-collapse-all .x-btn-text {
    background-image: url(../icons/button/collapse-all.png) !important; /** sprite-ref: button-sprite */ /** sprite-ref: button-sprite */
}

.button-copy .x-btn-text {
    background-image: url(../icons/button/copy.png) !important; /** sprite-ref: button-sprite */ /** sprite-ref: button-sprite */
}

.button-delete .x-btn-text {
    background-image: url(../icons/button/delete.png) !important; /** sprite-ref: button-sprite */ /** sprite-ref: button-sprite */
}

.button-edit .x-btn-text {
    background-image: url(../icons/button/edit.png) !important; /** sprite-ref: button-sprite */ /** sprite-ref: button-sprite */
}

.button-expand-all .x-btn-text {
    background-image: url(../icons/button/expand-all.png) !important; /** sprite-ref: button-sprite */ /** sprite-ref: button-sprite */
}

.button-move-bottom .x-btn-text {
    background-image: url(../icons/button/move-bottom.png) !important; /** sprite-ref: button-sprite */ /** sprite-ref: button-sprite */
}

.button-move-down .x-btn-text {
    background-image: url(../icons/button/move-down.png) !important; /** sprite-ref: button-sprite */ /** sprite-ref: button-sprite */
}

.button-move-left .x-btn-text {
    background-image: url(../icons/button/move-left.png) !important; /** sprite-ref: button-sprite */ /** sprite-ref: button-sprite */
}

.button-move-right .x-btn-text {
    background-image: url(../icons/button/move-right.png) !important; /** sprite-ref: button-sprite */ /** sprite-ref: button-sprite */
}

.button-move-top .x-btn-text {
    background-image: url(../icons/button/move-top.png) !important; /** sprite-ref: button-sprite */ /** sprite-ref: button-sprite */
}

.button-move-up .x-btn-text {
    background-image: url(../icons/button/move-up.png) !important; /** sprite-ref: button-sprite */ /** sprite-ref: button-sprite */
}

.button-new .x-btn-text {
    background-image: url(../icons/button/new.png) !important; /** sprite-ref: button-sprite */ /** sprite-ref: button-sprite */
}

.button-play .x-btn-text {
    background-image: url(../icons/button/play.png) !important; /** sprite-ref: button-sprite */ /** sprite-ref: button-sprite */
}

.button-pause .x-btn-text {
    background-image: url(../icons/button/pause.png) !important; /** sprite-ref: button-sprite */ /** sprite-ref: button-sprite */
}

.button-run .x-btn-text {
    background-image: url(../icons/button/run.png) !important; /** sprite-ref: button-sprite */ /** sprite-ref: button-sprite */
}

.button-run-and-view .x-btn-text {
    background-image: url(../icons/button/run-and-view.png) !important; /** sprite-ref: button-sprite */ /** sprite-ref: button-sprite */
}

.button-save .x-btn-text {
    background-image: url(../icons/button/save.png) !important; /** sprite-ref: button-sprite */ /** sprite-ref: button-sprite */
}

.button-test .x-btn-text {
    background-image: url(../icons/button/test.png) !important; /** sprite-ref: button-sprite */ /** sprite-ref: button-sprite */
}

.button-upload .x-btn-text {
    background-image: url(../icons/button/upload.png) !important; /** sprite-ref: button-sprite */ /** sprite-ref: button-sprite */
}

.button-view .x-btn-text {
    background-image: url(../icons/button/view.png) !important; /** sprite-ref: button-sprite */ /** sprite-ref: button-sprite */
}

.button-group .x-btn-text {
    background-image: url(../icons/button/group.png) !important; /** sprite-ref: button-sprite */ /** sprite-ref: button-sprite */
}

/**
 * Grid cell images
 */
.rf-grid-cell-icon div {
    background-repeat: no-repeat;
    height: 16px;
    padding: 0px;
    width: 16px;
}

.button-check .x-grid3-cell-inner, .button-check .x-btn-text  {
    background-image: url(../icons/button/check.png) !important; /** sprite-ref: button-sprite */ /** sprite-ref: button-sprite */
}

.button-x .x-grid3-cell-inner, .button-x .x-btn-text {
    background-image: url(../icons/button/x.png) !important; /** sprite-ref: button-sprite */ /** sprite-ref: button-sprite */
}

.x-tree-node .r-offline-tree-node-icon {
    background-image: url(../icons/button/x.png) !important; /** sprite-ref: button-sprite */ /** sprite-ref: button-sprite */
}

/**
 * ExtJS paging toolbar
 */

.x-tbar-page-first{
    background-image: url(../../webapp/ext/resources/images/default/grid/page-first.gif) !important; /** sprite-ref: button-sprite */ /** sprite-ref: button-sprite */
}
.x-tbar-page-last{
    background-image: url(../../webapp/ext/resources/images/default/grid/page-last.gif) !important; /** sprite-ref: button-sprite */ /** sprite-ref: button-sprite */
}
.x-tbar-page-next{
    background-image: url(../../webapp/ext/resources/images/default/grid/page-next.gif) !important; /** sprite-ref: button-sprite */ /** sprite-ref: button-sprite */
}
.x-tbar-page-prev{
    background-image: url(../../webapp/ext/resources/images/default/grid/page-prev.gif) !important; /** sprite-ref: button-sprite */ /** sprite-ref: button-sprite */
}
.x-item-disabled .x-tbar-page-first{
    background-image: url(../../webapp/ext/resources/images/default/grid/page-first-disabled.gif) !important; /** sprite-ref: button-sprite */ /** sprite-ref: button-sprite */
}
.x-item-disabled .x-tbar-page-last{
    background-image: url(../../webapp/ext/resources/images/default/grid/page-last-disabled.gif) !important; /** sprite-ref: button-sprite */ /** sprite-ref: button-sprite */
}
.x-item-disabled .x-tbar-page-next{
    background-image: url(../../webapp/ext/resources/images/default/grid/page-next-disabled.gif) !important; /** sprite-ref: button-sprite */ /** sprite-ref: button-sprite */
}
.x-item-disabled .x-tbar-page-prev{
    background-image: url(../../webapp/ext/resources/images/default/grid/page-prev-disabled.gif) !important; /** sprite-ref: button-sprite */ /** sprite-ref: button-sprite */
}

/**
 * ExtJS grid column sort
 */

.col-move-top{
    background-image: url(../../webapp/ext/resources/images/default/grid/col-move-top.gif) !important; /** sprite-ref: button-sprite */ /** sprite-ref: button-sprite */
}
.col-move-bottom{
    background-image: url(../../webapp/ext/resources/images/default/grid/col-move-bottom.gif) !important; /** sprite-ref: button-sprite */ /** sprite-ref: button-sprite */
}

/**
 * ExtJS DD
 */

.x-dd-drop-nodrop .x-dd-drop-icon{
  background-image: url(../../webapp/ext/resources/images/default/dd/drop-no.gif) !important; /** sprite-ref: button-sprite */ /** sprite-ref: button-sprite */
}
.x-dd-drop-ok .x-dd-drop-icon{
  background-image: url(../../webapp/ext/resources/images/default/dd/drop-yes.gif) !important; /** sprite-ref: button-sprite */ /** sprite-ref: button-sprite */
}
.x-dd-drop-ok-add .x-dd-drop-icon{
  background-image: url(../../webapp/ext/resources/images/default/dd/drop-add.gif) !important; /** sprite-ref: button-sprite */ /** sprite-ref: button-sprite */
}
