/** sprite: zmui-sprite; sprite-image: url(../icons/zmui-sprite.png); sprite-layout: vertical; sprite-image-uid: date; */

/*
 * Category icons
 */
.configuration-category-icon {
    background-image: url(../icons/zmui/category/configuration.png); /** sprite-ref: zmui-sprite */
}

.summary-views-category-icon {
    background-image: url(../icons/zmui/category/summary-views.png); /** sprite-ref: zmui-sprite */
}

/*
 * Module panel header icons
 */

/* Configuration */
.server-config .module-header {
    background-image: url(../icons/zmui/module/server-config.png);  /** sprite-ref: zmui-sprite */
}

.user-config .module-header {
    background-image: url(../icons/zmui/module/user-config.png);  /** sprite-ref: zmui-sprite */
}

.taggroup-config .module-header {
    background-image: url(../icons/zmui/module/taggroup-config.png);  /** sprite-ref: zmui-sprite */
}

.reader-config .module-header {
    background-image: url(../icons/zmui/module/reader-config.png);  /** sprite-ref: zmui-sprite */
}

.firmware-config .module-header {
    background-image: url(../icons/zmui/module/reader-config.png);  /** sprite-ref: zmui-sprite */
}

.location-config .module-header {
    background-image: url(../icons/zmui/module/location-config.png);  /** sprite-ref: zmui-sprite */
}

.import-export-config .module-header {
    background-image: url(../icons/zmui/module/import-export-config.png);  /** sprite-ref: zmui-sprite */
}

.license-config .module-header {
    background-image: url(../icons/zmui/module/license-config.png);  /** sprite-ref: zmui-sprite */
}

.gps-config .module-header {
    background-image: url(../icons/zmui/module/gps-config.png);  /** sprite-ref: zmui-sprite */
}

/* Summary Views */
.tag-view .module-header {
    background-image: url(../icons/zmui/module/tag-view.png);  /** sprite-ref: zmui-sprite */
}

.tag-by-location-view .module-header {
    background-image: url(../icons/zmui/module/location-view.png);  /** sprite-ref: zmui-sprite */
}

.tag-by-parent-view .module-header {
    background-image: url(../icons/zmui/module/tag-view.png);  /** sprite-ref: zmui-sprite */
}

.tag-find-view .module-header {
    background-image: url(../icons/zmui/module/tag-find-view.png);  /** sprite-ref: zmui-sprite */
}

.reader-view .module-header {
    background-image: url(../icons/zmui/module/reader-view.png);  /** sprite-ref: zmui-sprite */
}

.rule-view .module-header {
    background-image: url(../icons/zmui/module/rule-view.png);  /** sprite-ref: zmui-sprite */
}

.summary-view .module-header {
    background-image: url(../icons/zmui/module/summary-view.png);  /** sprite-ref: zmui-sprite */
}

.tag-gps .module-header {
    background-image: url(../icons/zmui/module/tag-gps.png);  /** sprite-ref: zmui-sprite */
}

/*
 * Navigation tree icons
 */

/* Configuration */
.server-config-small-icon {
    background-image: url(../icons/zmui/tree/server-config.png) !important;  /** sprite-ref: zmui-sprite */
}

.user-config-small-icon {
    background-image: url(../icons/zmui/tree/user-config.png) !important;  /** sprite-ref: zmui-sprite */
}

.taggroup-config-small-icon {
    background-image: url(../icons/zmui/tree/taggroup-config.png) !important;  /** sprite-ref: zmui-sprite */
}

.reader-config-small-icon {
    background-image: url(../icons/zmui/tree/reader-config.png) !important;  /** sprite-ref: zmui-sprite */
}

.firmware-config-small-icon {
    background-image: url(../icons/zmui/tree/reader-config.png) !important;  /** sprite-ref: zmui-sprite */
}

.location-config-small-icon {
    background-image: url(../icons/16/location.png) !important;  /** sprite-ref: zmui-sprite */
}

.location-rule-small-icon {
    background-image: url(../icons/zmui/location-rule.png) !important;  /** sprite-ref: zmui-sprite */
}

.location-rule-invalid-small-icon {
    background-image: url(../icons/zmui/location-rule-invalid.png) !important;  /** sprite-ref: zmui-sprite */
}

.location-rule-offline-small-icon {
    background-image: url(../icons/zmui/location-rule-offline.png) !important;  /** sprite-ref: zmui-sprite */
}

.import-export-config-small-icon {
    background-image: url(../icons/zmui/tree/import-export-config.png) !important;  /** sprite-ref: zmui-sprite */
}

.license-config-small-icon {
    background-image: url(../icons/zmui/tree/license-config.png) !important;  /** sprite-ref: zmui-sprite */
}

.gps-config-small-icon {
    background-image: url(../icons/zmui/tree/gps-config.png) !important;  /** sprite-ref: zmui-sprite */
}

/* Summary Views */
.tag-view-small-icon {
    background-image: url(../icons/zmui/tree/tag-view.png) !important;  /** sprite-ref: zmui-sprite */
}

.tag-by-location-view-small-icon {
    background-image: url(../icons/zmui/tree/location-view.png) !important;  /** sprite-ref: zmui-sprite */
}

.tag-by-parent-view-small-icon {
    background-image: url(../icons/zmui/tree/tag-view.png) !important;  /** sprite-ref: zmui-sprite */
}

.tag-find-view-small-icon {
    background-image: url(../icons/zmui/tree/tag-find-view.png) !important;  /** sprite-ref: zmui-sprite */
}

.reader-view-small-icon {
    background-image: url(../icons/zmui/tree/reader-view.png) !important;  /** sprite-ref: zmui-sprite */
}

.rule-view-small-icon {
    background-image: url(../icons/zmui/tree/rule-view.png) !important;  /** sprite-ref: zmui-sprite */
}

.summary-view-small-icon {
    background-image: url(../icons/zmui/tree/summary-view.png) !important;  /** sprite-ref: zmui-sprite */
}

.tag-gps-small-icon {
    background-image: url(../icons/zmui/tree/tag-gps.png) !important;  /** sprite-ref: zmui-sprite */
}


