#navigation .x-panel-header-text {
    color: black;
    font-size: 10pt;
    font-weight: bold;
}

#navigation .x-panel-inline-icon {
    height: 24px;
    width: 24px;
}

#navigation .x-panel-header {
    font-size: 12px;
}

.about-dialog-image {
    background: url(../brand/icons/about.jpg)
}

.tag-tip {
    border-collapse:collapse;
    font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size:10px;
    text-align:left;
}

.tag-tip .tag-tip-main {
    border-bottom:1px dashed #69c;
    font-size:12px;
    font-weight:bold;
    padding:4px 4px;
}

.tag-tip .tag-tip-extra {
    font-size:10px;
    font-weight:bold;
    padding:4px 4px;
}

.tag-tip td {
    padding:3px 4px 3px 4px;
}

.export-config-cell {
    padding-right: 5px;
}

.export-config-item {
    background-repeat: no-repeat;
    font-size: 10pt;
    margin-right: 20px;
    padding-left: 18px;
}
