body {
    background: url(../../brand/images/loginBackground.jpg) no-repeat top left;
    margin:     0;
}

.loginFormNested1 {
    background-image:  url(../../brand/images/loginLogo.png);
    background-repeat: no-repeat;
    background-position: 10 20;
    position:          absolute;
}

.loginError {
    font-family:                sans-serif;
    font-size:                  10pt;
    text-align:                 center;
    color:                      #FF0000;
    border-width:               thin;
    border-style:               solid;
    border-color:               #15428B;
    background:                 #DFE8F6;
}

.loginReason {
    font-weight:                bold;
}

.loginFormNested1 {
    display:                    table;
    height:                     100%;
    #position:                  relative;
    overflow:                   hidden;
    margin:                     0 auto;
    width:                      100%;
}

.loginFormNested2 {
    #position:                  absolute;
    #top:                       50%;
    display:                    table-cell;
    vertical-align:             middle;
    text-align:                 center;
    width:                      100%;
}

.loginFormNested3 {
    #position:                  relative;
    #top:                       -50%;
    height:                     325px;
    width:                      275px;
    font-size:                  14pt;
    font-family:                sans-serif;
    margin:                     0 auto;
}

.loginApplicationTitle {
    font-size:                  18pt;
    font-weight:                bold;
    padding-bottom:             10px;
    text-align:                 center;
}
.loginApplicationMessage {
    font-size:                  18pt;
    font-weight:                bold;
    padding-bottom:             10px;
    text-align:                 center;
    color:                      #FF0000;
}

.loginBottomInfo {
    font-family:                sans-serif;
    font-size:                  8pt;
    text-align:                 center;
    position:                   absolute;
    bottom:                     10px;
    width:                      100%;
}

